extends ./layout/index
block contenido
    main.container.mt-5 
        .row    
            .col-md-5 
                img(src='img/nosotros.jpg',alt="nosotros", class='img-fluid')
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sint omnis dolor cupiditate dolorem magnam nemo esse consectetur possimus unde. Modi omnis laborum nam? Voluptate labore repellat temporibus est libero?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sint omnis dolor cupiditate dolorem magnam nemo esse consectetur possimus unde. Modi omnis laborum nam? Voluptate labore repellat temporibus est libero?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sint omnis dolor cupiditate dolorem magnam nemo esse consectetur possimus unde. Modi omnis laborum nam? Voluptate labore repellat temporibus est libero?
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg",alt="icono seguridad",class='mb-4 img-fluid')
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident omnis rem hic, culpa architecto ipsum perspiciatis accusamus, debitis dolores numquam non quam corporis excepturi suscipit cupiditate illo fugit. Aspernatur, nam.
                .col-md-4 
                    img(src="img/icono_destinos.svg",alt="icono destinos",class='mb-4 img-fluid')
                    h2.mb-4 Los mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident omnis rem hic, culpa architecto ipsum perspiciatis accusamus, debitis dolores numquam non quam corporis excepturi suscipit cupiditate illo fugit. Aspernatur, nam.
                .col-md-4 
                    img(src="img/icono_precios.svg",alt="icono precios",class='mb-4 img-fluid')
                    h2.mb-4 Los mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident omnis rem hic, culpa architecto ipsum perspiciatis accusamus, debitis dolores numquam non quam corporis excepturi suscipit cupiditate illo fugit. Aspernatur, nam.
                